name: run main.py

on:
  schedule:
    - cron: '30 8 * * *'   # 08:30 local (UTC+1)
    - cron: '30 11 * * *'  # 12:30 local (UTC+1)
    - cron: '30 18 * * *'  # 19:30 local (UTC+1)
  workflow_dispatch:

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
        clean: true

    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.8'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Run script
      run: python main.py
      env:
        API_ACCESS_KEY: ${{ secrets.API_ACCESS_KEY }}
